<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>explowiki</title>
  <script src="https://multi-gitribute-test.netlify.app/js/app.js" type="text/javascript"></script>
  <link type="text/css" href="https://multi-gitribute-test.netlify.app/css/app.css" rel="stylesheet">
</head>

<body style="background-color: grey; padding: 1em;">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>

  <h2 id="title-demo" class="pt-6 title is-flex is-align-items-center is-justify-content-center has-text-white">
    <a href="https://gitlab.com/multi-coop/gitribute" target="_blank">
      <img src="/images/logo_GITRIBUTE.png" alt="logo gitribute" style="height: 50px !important; width: auto !important">
    </a>
    <span class="ml-3 pb-3">
      Intégration du widget <code>gitribute-explowiki</code> dans une page html
    </span>
  </h2>

  <p id="gitribute-wiki-communs" class="ml-4 pt-6 subtitle has-text-white">
    <a href="/#gitribute-wiki-communs" style="color: white; margin-right: 0.5em;">
      #
    </a>
    Ajout du widget 
  </p>
  <div style="background-color: white; margin: 1em;">
    <multi-gitribute-explowiki
      wikilist="https://wiki.resilience-territoire.ademe.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Commun=on&wf-expl-Tags="
      options='{
        "height": "900px",
        "wikisettings": {
          "category": "commun",
          "fields": [
            "url",
            "description",
            "shortDescription",
            "Main_Picture",
            "Titre",
            "Tags",
            "Theme",
            "location",
            "complement",
            "challenge",
            "from"
          ],
          "tagfields": [
            "challenge",
            "Tags",
            "Theme"
          ]
      },
      "customsorting" : {
        "activate": true,
        "sortfields": [
          "title"
        ]
      },
      "customfilters" : {
        "activate": true,
        "filterfields": [
          "challenge",
          "Tags",
          "Theme"
        ]
      },
      "pagination": {
        "itemsPerPage": 9
      },
      "cardsview": { "activate": true, "default": true },
      "cardssettings": {
        "mini": {
          "title": {"position": "title"},
          "imageUrl": {"position": "image"},
          "shortDescription": {"position": "resume"},
          "Tags": {"position": "tags"},
          "Theme": {"position": "tags"},
          "challenge": {"position": "tags"}
        },
        "detail": {
          "title": {"position": "title"},
          "imageUrl": {"position": "image"},
          "shortDescription": {"position": "resume"},
          "description": {"position": "description"},
          "complement": {"position": "description"},
          "from": {"position": "description"},
          "Tags": {"position": "tags"},
          "Theme": {"position": "tags"},
          "challenge": {"position": "tags"},
          "url": {"position": "links"}
        }
      }
    }' title="gitribute for explowiki - communs :)" locale="fr">
    </multi-gitribute-explowiki>
  </div>

</body>

</html>
