<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- <script src="../dist/js/app.js"></script> -->
  <title>Datami - Fabmob</title>
</head>

<body style="background-color: #D7D7D7; padding: 5em 1em 20em 1em;">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>

  <div style="background-color: white; margin: 1em;">

    <!-- DATAMI WIDGET'S HTML BLOCK-->
    <datami-multi-files
      title="Explowiki - fabmob"
      options='{
        "display": "horizontal",
        "nocopy": false
      }'
      gitfiles='[
        {
          "title": "Projets",
          "activate": true,
          "default-tab": true,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "projet",
              "fields": [
                "url",
                "description",
                "shortDescription",
                "Main_Picture",
                "Coordonnées géo",
                "needs",
                "referent",
                "communauté d&#39;intérêt",
                "Titre",
                "Tags",
                "etape",
                "Theme",
                "location",
                "from",
                "challenge"
              ],
              "tagfields": [
                "Tags",
                "Theme",
                "location",
                "from",
                "challenge"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "Tags",
                "Theme"
              ]
            },
            "pagination": {
              "itemsPerPage":12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "shortDescription": {"position": "resume"},
                "Tags": {
                  "position": "tags",
                  "prefix": "Tag(s) :"
                },
                "Theme": {
                  "position": "tags",
                  "prefix": "Thème(s) :"
                },
                "challenge": {
                  "position": "tags",
                  "prefix": "Challenge(s) :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "shortDescription": {
                  "position": "resume"
                },
                "description": {
                  "position": "description"
                },
                "url": {
                  "position": "links",
                  "block_title": "Lien",
                  "right": false
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": false
                },
                "Theme": {
                  "position": "tags",
                  "block_title": "Thème",
                  "right": false
                },
                "challenge": {
                  "position": "tags",
                  "block_title": "Challenge",
                  "right": false
                },
                "communauté d&#39;intérêt": {
                  "position": "tags",
                  "block_title": "Communauté d&lsquo;intérêt",
                  "right": false
                },
                "url": {
                  "position": "links"
                }
              }
            }
          }
        },
        {
          "title": "Défis",
          "activate": true,
          "default-tab": false,
          "localdev": false,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "défi",
              "fields": [
                "description",
                "Main_Picture",
                "Tags",
                "Theme",
                "Enjeu",
                "Caractéristiques"
              ],
              "tagfields": [
                "Tags",
                "Theme"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "Tags",
                "Theme"
              ]
            },
            "pagination": {
              "itemsPerPage": 12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "shortDescription": {"position": "resume"},
                "Tags": {
                  "position": "tags",
                  "prefix": "Tag(s) :"
                },
                "Theme": {
                  "position": "tags",
                  "prefix": "Thème(s) :"
                },
                "challenge": {
                  "position": "tags",
                  "prefix": "Challenge(s) :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "shortDescription": {
                  "position": "resume"
                },
                "description": {
                  "position": "description"
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": false
                },
                "Theme": {
                  "position": "tags",
                  "block_title": "Thème",
                  "right": false
                }
              }
            }
          }
        },
        {
          "title": "Véhicules",
          "activate": true,
          "default-tab": false,
          "localdev": false,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "Vehicule",
              "fields": [
                "Main_Picture",
                "Tags",
                "url",
                "chat",
                "Coordonnées géo",
                "typeveh",
                "categveh",
                "avancement",
                "challenge veh",
                "communauté veh",
                "dossier_veh",
                "pays"
              ],
              "tagfields": [
                "Tags",
                "typeveh",
                "categveh",
                "avancement",
                "challenge veh",
                "communauté veh"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "Tags",
                "typeveh"
              ]
            },
            "pagination": {
              "itemsPerPage":12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "shortDescription": {"position": "resume"},
                "categveh": {
                  "position": "tags",
                  "prefix": "Catégorie de véhicule :"
                },
                "avancement": {
                  "position": "tags",
                  "prefix": "Avancement :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "shortDescription": {
                  "position": "resume"
                },
                "description": {
                  "position": "description"
                },
                "url": {
                  "position": "links",
                  "block_title": "Lien",
                  "right": false
                },
                "dossier_veh": {
                  "position": "description",
                  "block_title": "Dossier véhicule",
                  "right": false
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": false
                },
                "typeveh": {
                  "position": "tags",
                  "block_title": "Type de véhicule",
                  "right": false
                },
                "avancement": {
                  "position": "tags",
                  "block_title": "Avancement",
                  "right": false
                },
                "categveh": {
                  "position": "tags",
                  "block_title": "Catégorie de véhicule",
                  "right": true
                },
                "challenge veh": {
                  "position": "tags",
                  "block_title": "Challenge véhicule",
                  "right": true
                },
                "communauté veh": {
                  "position": "tags",
                  "block_title": "Communauté véhicule",
                  "right": true
                }
              }
            }
          }
        },
        {
          "title": "Communs",
          "activate": true,
          "default-tab": false,
          "localdev": false,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "commun",
              "fields": [
                "description",
                "shortDescription",
                "Main_Picture",
                "Tags",
                "Theme",
                "url",
                "challenge",
                "chat",
                "to",
                "communauté d&lsquo;intérêt",
                "complement",
                "from",
                "commonscategory",
                "type",
                "OpenChallenge"
              ],
              "tagfields": [
                "Tags",
                "Theme",
                "challenge",
                "commonscategory",
                "communauté d&lsquo;intérêt",
                "challenge"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "Tags",
                "challenge",
                "commonscategory",
                "communauté d&lsquo;intérêt",
                "Theme"
              ]
            },
            "pagination": {
              "itemsPerPage":12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "shortDescription": {"position": "resume"},
                "Tags": {
                  "position": "tags",
                  "prefix": "Tag(s) :"
                },
                "Theme": {
                  "position": "tags",
                  "prefix": "Thème(s) :"
                },
                "challenge": {
                  "position": "tags",
                  "prefix": "Challenge(s) :"
                },
                "commonscategory": {
                  "position": "tags",
                  "prefix": "Catégorie(s) :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "shortDescription": {
                  "position": "resume"
                },
                "description": {
                  "position": "description"
                },
                "url": {
                  "position": "links",
                  "block_title": "Lien",
                  "right": false
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": true
                },
                "Theme": {
                  "position": "tags",
                  "block_title": "Thème",
                  "right": true
                },
                "challenge": {
                  "position": "tags",
                  "block_title": "Challenge",
                  "right": true
                },
                "communauté d&#39;intérêt": {
                  "position": "tags",
                  "block_title": "Communauté d&lsquo;intérêt",
                  "right": true
                },
                "commonscategory": {
                  "position": "tags",
                  "block_title": "Catégorie de commun",
                  "right": true
                },
                "url": {
                  "position": "links"
                }
              }
            }
          }
        },
        {
          "title": "Référentiels",
          "activate": true,
          "default-tab": false,
          "localdev": false,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "Référentiel",
              "fields": [
                "description",
                "shortDescription",
                "Main_Picture",
                "Tags",
                "Theme",
                "url",
                "challenge",
                "name",
                "communauté",
                "Richesse"
              ],
              "tagfields": [
                "Tags",
                "Theme",
                "communauté",
                "Richesse"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "Tags",
                "Theme"
              ]
            },
            "pagination": {
              "itemsPerPage":12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "shortDescription": {"position": "resume"},
                "Tags": {
                  "position": "tags",
                  "prefix": "Tag(s) :"
                },
                "Theme": {
                  "position": "tags",
                  "prefix": "Thème(s) :"
                },
                "challenge": {
                  "position": "tags",
                  "prefix": "Challenge(s) :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "shortDescription": {
                  "position": "resume"
                },
                "description": {
                  "position": "description"
                },
                "url": {
                  "position": "links",
                  "block_title": "Lien",
                  "right": false
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": true
                },
                "Theme": {
                  "position": "tags",
                  "block_title": "Thème",
                  "right": true
                },
                "challenge": {
                  "position": "tags",
                  "block_title": "Challenge",
                  "right": true
                },
                "communauté d&#39;intérêt": {
                  "position": "tags",
                  "block_title": "Communauté d&lsquo;intérêt",
                  "right": true
                },
                "url": {
                  "position": "links"
                }
              }
            }
          }
        },
        {
          "title": "Acteurs",
          "activate": true,
          "default-tab": false,
          "localdev": false,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "acteur",
              "fields": [
                "url",
                "description",
                "shortDescription",
                "Main_Picture",
                "Coordonnées géo",
                "needs",
                "referent",
                "communauté d&#39;intérêt",
                "Titre",
                "Tags",
                "etape",
                "Theme",
                "location",
                "from",
                "challenge"
              ],
              "tagfields": [
                "Tags",
                "Theme",
                "location",
                "from",
                "challenge"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "Tags",
                "Theme"
              ]
            },
            "pagination": {
              "itemsPerPage":12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "shortDescription": {"position": "resume"},
                "Tags": {
                  "position": "tags",
                  "prefix": "Tag(s) :"
                },
                "Theme": {
                  "position": "tags",
                  "prefix": "Thème(s) :"
                },
                "challenge": {
                  "position": "tags",
                  "prefix": "Challenge(s) :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "shortDescription": {
                  "position": "resume"
                },
                "description": {
                  "position": "description"
                },
                "url": {
                  "position": "links",
                  "block_title": "Lien",
                  "right": false
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": true
                },
                "Theme": {
                  "position": "tags",
                  "block_title": "Thème",
                  "right": true
                },
                "challenge": {
                  "position": "tags",
                  "block_title": "Challenge",
                  "right": true
                },
                "communauté d&#39;intérêt": {
                  "position": "tags",
                  "block_title": "Communauté d&lsquo;intérêt",
                  "right": true
                },
                "url": {
                  "position": "links"
                }
              }
            }
          }
        },
        {
          "title": "Évènement",
          "activate": true,
          "default-tab": false,
          "localdev": false,
          "wikilist": "https://wiki.lafabriquedesmobilites.fr/wiki/Sp%C3%A9cial:WfExplore?title=Sp%C3%A9cial%3AWfExplore&page=1&wf-expl-Category-Projet=on&wf-expl-Page_creator-fulltext=&wf-expl-Tags=",
          "onlypreview": true,
          "locale": "fr",
          "options": {
            "height": "700px",
            "schema": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-schema.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-schema.json"
            },
            "fields-custom-properties": {
              "localdev": false,
              "filelocal": "http://localhost:8888/statics/json/fabmob-projets-fields-custom-props.json",
              "file": "https://gitlab.com/multi-coop/datami-project/datami-clients/explo-mediawiki/-/blob/main/json/fabmob-projets-fields-custom-props.json"
            },
            "wikisettings": {
              "category": "evénement",
              "fields": [
                "url",
                "description",
                "shortDescription",
                "Main_Picture",
                "communauté",
                "startDate",
                "endDate",
                "needs",
                "referent",
                "Titre",
                "Tags",
                "etape",
                "Theme",
                "location",
                "from",
                "challenge"
              ],
              "tagfields": [
                "Theme",
                "Tags",
                "communauté"
              ]
            },
            "customsorting" : {
              "activate": true,
              "sortfields": [
                "timestamp"
              ]
            },
            "customfilters" : {
              "activate": true,
              "filterfields": [
                "communauté",
                "Theme"
              ]
            },
            "pagination": {
              "itemsPerPage":12
            },
            "cardsview": {
              "activate": true,
              "default": true
            },
            "cardssettings": {
              "mini": {
                "title": {"position": "title"},
                "imageUrl": {"position": "image"},
                "description": {"position": "resume"},
                "Theme": {
                  "position": "tags",
                  "prefix": "Thème(s) :"
                },
                "startDate": {
                  "position": "date",
                  "prefix": "Date de début :"
                },
                "endDate": {
                  "position": "date",
                  "prefix": "Date de fin :"
                }
              },
              "detail": {
                "title": {
                  "position": "title"
                },
                "imageUrl": {
                  "position": "image",
                  "right": true
                },
                "startDate": {
                  "position": "date",
                  "block_title": "Date de début :"
                },
                "endDate": {
                  "position": "date",
                  "block_title": "Date de fin :"
                },
                "description": {
                  "position": "description"
                },
                "url": {
                  "position": "links",
                  "block_title": "Lien",
                  "right": false
                },
                "Tags": {
                  "position": "tags",
                  "block_title": "Tags",
                  "right": true
                },
                "Theme": {
                  "position": "tags",
                  "block_title": "Thème",
                  "right": true
                },
                "challenge": {
                  "position": "tags",
                  "block_title": "Challenge",
                  "right": true
                },
                "communauté": {
                  "position": "tags",
                  "block_title": "Communauté",
                  "right": true
                },
                "url": {
                  "position": "links"
                }
              }
            }
          }
        }
      ]'
    >
    </datami-multi-files>

  </div>

  <!-- DATAMI WIDGET'S APP.JS SCRIPT -->
  <!-- <script src="https://datami-widget.multi.coop/js/app.js" type="text/javascript" defer></script> -->
  <!-- <script src="https://preprod--datami-widget.multi.coop/js/app.js" type="text/javascript" defer></script> -->
  <script src="https://pj-api-perf--datami-widget.netlify.app/js/app.js" type="text/javascript" defer></script>
  <!-- <script src="http://localhost:8080/js/app.js" type="text/javascript" defer></script> -->
</body>

</html>
